<!-- begin Agenda-X contents-->
<div align="center">
<!-- navbar -->
    <{$agendax.navbar}>
    <{$agendax.date}>
</div>
<{if $agendax.no_content}>
    <{$agendax.no_content}>
<{else}>
        <table class="eventTitle"> 
        <tr><td><{$agendax.content}></td></tr>
        <{section name=j loop=$agendax.events}>
            <tr><td><{$agendax.events[j]}></td></tr>
        <{/section}>
        </table>    
<{/if}>

<div align="center"><small><{$agendax.credits}></small></div>
<!-- end of Agenda-X contents -->
