<!-- begin Agenda-X contents-->
<div align="center">
<!-- navbar -->
    <{$agendax.navbar}>
    <{$agendax.date}>
</div>
<div align=center>
   <{$agendax.title.caption}> : <{$agendax.title.body}> (<{$agendax.category.caption}> : <{$agendax.category.body}>)
   <br>
   <{$agendax.edate.caption}> : <{$agendax.edate.body}>
    <br><br>
    <div style="margin-left: 120px; margin-right:120px; text-align: justify">
    <{$agendax.description.body}>
    </div>
    <br><br>
    <{$agendax.rpt}>
    <br><br>
    <{$agendax.contact.caption}> : <{$agendax.contact.body}>
    <br>
    <{$agendax.url.caption}> : <{$agendax.url.body}> |
    <{$agendax.email.caption}> : <{$agendax.email.body}>
    <br><br>
    <{$agendax.image}>
<br>
<div align=center><{$agendax.backLink}><br>
<br>
<{$agendax.searchform}><br>
</div><br><br>
<div align="center"><small><{$agendax.credits}></small></div>
<!-- end of Agenda-X contents -->